<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
    <style type="text/css">
        chart{
            position: absolute;
            display:none;
            /*left: 50%;*/
            /*margin-left: -300px;*/
            width:600px;
            height:400px;
        }
    </style>
</head>
<body ng-controller="ChartCtrl">
  <table style="width:98%">
    <tr>
      <td>
        <center><h1>chart X:</h1></center>
        <chart ng-model='chart.dataX' style="left:0px"></chart>
      </td>
      <td>
        <center><h1>chart Y:</h1></center>
        <chart ng-model='chart.dataY' style="left:33%"></chart>
      </td>
      <td>
        <center><h1>chart Z:</h1></center>
        <chart ng-model='chart.dataZ' style="right:50px"></chart>
      </td>
    </tr>
  </table>

  <script src="js/jquery-1.9.1.min.js"></script>
  <script src="js/jquery.flot.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
